*.plist
com.apple.*
com.google.*
org.*
!local.enviroment.plist
spicetify_data
spotifyd
spotify-tui
coc
QuickTime Preferences
auto-save-list/
elpa/
viminfo
straight
spt-cli
hub
configstore
ByHost
secret.neomuttrc
